@(employees: Seq[Employee])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Employees") {

    <div>
        @flash.get("success").getOrElse("")

        <a class="button" href=@controllers.shop.routes.EmployeeController.addEmployeeForm()>Add Employee</a>

        <table class="common-table">
            <caption>Employees</caption>
            <tr>
                <th  scope="col">ID</th>
                <th  scope="col">First Name</th>
                <th  scope="col">Last Name</th>
                <th  scope="col">Position</th>
                <th  scope="col">Actions</th>
            </tr>
            @for(employee <- employees) {
                <tr>
                    <td>
                    @employee.id
                    </td>
                    <td>
                    @employee.firstName
                    </td>
                    <td>
                    @employee.lastName
                    </td>
                    <td>
                    @employee.position
                    </td>
                    <td>
                        <a class="button" href=@controllers.shop.routes.EmployeeController.deleteEmployee(employee.id)>
                            DELETE
                        </a>
                        <a class="button" href=@controllers.shop.routes.EmployeeController.updateEmployeeForm(employee.id)>
                            EDIT
                        </a>
                    </td>
                </tr>
            }
        </table>

    </div>

}
