@(opinions: Seq[Opinion])(implicit request: MessagesRequestHeader, flash: Flash)

@adminView("Opinions") {

<div>
    @flash.get("success").getOrElse("")

    <table class="common-table">
        <caption>Opinions</caption>
        <tr>
            <th  scope="col">ID</th>
            <th  scope="col">Product</th>
            <th  scope="col">Rating</th>
            <th  scope="col">Comment</th>
            <th  scope="col">Date</th>
            <th  scope="col">Actions</th>
        </tr>
        @for(opinion <- opinions) {
            <tr>
                <td>
                @opinion.id
                </td>
                <td>
                @opinion.product
                </td>
                <td>
                @opinion.rating
                </td>
                <td>
                @opinion.comment
                </td>
                <td>
                @opinion.timestamp
                </td>
                <td>
                    <a class="button" href=@controllers.shop.routes.OpinionController.removeOpinion(opinion.id)>
                            DELETE
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
}