@(adverts: Seq[Advertisement])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Advertisements") {

    <div>
        @flash.get("success").getOrElse("")

        <a class="button" href=@controllers.shop.routes.AdvertisementController.createAdForm()>Create Advert</a>

        <table class="common-table">
            <caption>Advertisemsents</caption>
            <tr>
                <th  scope="col">ID</th>
                <th  scope="col">Text</th>
                <th  scope="col">Link</th>
                <th  scope="col">Actions</th>
            </tr>
            @for(advert <- adverts) {
                <tr>
                    <td>
                    @advert.id
                    </td>
                    <td>
                    @advert.text
                    </td>
                    <td>
                        <a href=@advert.link>@advert.link</a>
                    </td>
                    <td>
                        <a class="button" href=@controllers.shop.routes.AdvertisementController.deleteAd(advert.id)>
                            DELETE
                        </a>
                        <a class="button" href=@controllers.shop.routes.AdvertisementController.updateAdForm(advert.id)>
                            EDIT
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
}
