
@import views.html.helper.form
@import views.html.inputs.simpleInput
@(changePasswordForm: Form[(String, String)])(implicit request: RequestHeader, flash: Flash)

@main("Change Password") {
    <div class="sign-in-container">
    @form(controllers.auth.routes.ChangePasswordController.submit()) {
        @helper.CSRF.formField
        @simpleInput("current-password", "Current Password", required = true, None, Option("password"))
        @simpleInput("new-password", "New Password", required = true, None, Option("password"))

        <div class="buttons">
            <input type="submit" value="Change Password"/>
        </div>
    }
    </div>
}