@(returnObjs: Seq[Return])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Payments") {
    <div>
        @flash.get("success").getOrElse("")
        <table class="common-table">
            <caption>Returns</caption>
            <tr>
                <th  scope="col">Order</th>
                <th  scope="col">Status</th>
                <th  scope="col">Reason</th>
                <th  scope="col">Actions</th>
            </tr>
            @for(returnObj <- returnObjs) {
                <tr>
                    <td>
                    @returnObj.id
                    </td>
                    <td>
                    @returnObj.status
                    </td>
                    <td>
                    @returnObj.reason
                    <td>
                        <a class="button" href=@controllers.shop.routes.ReturnController.deleteReturn(returnObj.id)>
                            DELETE
                        </a>
                        <a class="button" href=@controllers.shop.routes.ReturnController.updateReturnForm(returnObj.id)>
                            EDIT
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
}