@(carts: Seq[Cart])(implicit request: RequestHeader, flash: Flash)

@adminView("Carts") {
    <div>
        @flash.get("success").getOrElse("")
        <table class="common-table">
            <caption>Carts</caption>
            <tr>
                <th  scope="col">ID</th>
                <th  scope="col">UUID</th>
                <th  scope="col">Created At</th>
                <th  scope="col">Actions</th>
            </tr>
            @for(cart <- carts) {
                <tr>
                    <td>
                    @cart.id
                    </td>
                    <td>
                    @cart.uuid
                    </td>
                    <td>
                    @cart.createdAt
                    </td>
                    <td>
                        <a class="button" href=@controllers.shop.routes.CartController.deleteCartByID(cart.id)>
                            DELETE
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
}