@(orders: Seq[Order])(implicit request: MessagesRequestHeader, flash: Flash)

@adminView("Orders") {

    <div>
        @flash.get("success").getOrElse("")
        <table class="common-table">
            <caption>Orders</caption>
            <tr>
                <th  scope="col">ID</th>
                <th  scope="col">Created Date</th>
                <th  scope="col">Value</th>
                <th  scope="col">Status</th>
                <th  scope="col">Address</th>
                <th  scope="col">Phone</th>
                <th  scope="col">Actions</th>
            </tr>
            @for(order <- orders) {
                <tr>
                    <td>@order.id</td>
                    <td>@order.createDate</td>
                    <td>@(order.value / 100.0)</td>
                    <td>@order.status</td>
                    <td>@order.address</td>
                    <td>@order.phone</td>
                    <td>
                        <a class="button" href=@controllers.shop.routes.OrderController.deleteOrder(order.id)>
                            DELETE
                        </a>
                        <a class="button" href=@controllers.shop.routes.OrderController.updateOrderForm(order.id)>
                            EDIT
                        </a>
                        <a class="button" href=@controllers.shop.routes.PaymentController.createPaymentForm(order.id)>
                            ADD PAYMENT
                        </a>
                        <a class="button" href=@controllers.shop.routes.ReturnController.createReturnForm(order.id)>
                            CREATE RETURN
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
}