@(payments: Seq[Payment])(implicit request: MessagesRequestHeader, flash: Flash)

@adminView("Employees") {
    <div>
        @flash.get("success").getOrElse("")
        <table class="common-table">
            <caption>Payments</caption>
            <tr>
                <th  scope="col">ID</th>
                <th  scope="col">Order</th>
                <th  scope="col">Value</th>
                <th  scope="col">Status</th>
                <th  scope="col">CreatedTime</th>
                <th  scope="col">Actions</th>
            </tr>
            @for(payment <- payments) {
                <tr>
                    <td>
                    @payment.id
                    </td>
                    <td>
                    @payment.order
                    </td>
                    <td>
                        @(payment.value / 100.0) $
                    </td>
                    <td>
                    @payment.status
                    </td>
                    <td>
                    @payment.createdTime
                    </td>
                    <td>
                        <a class="button" href=@controllers.shop.routes.PaymentController.deletePayment(payment.id)>
                            DELETE
                        </a>
                        <a class="button" href=@controllers.shop.routes.PaymentController.updatePaymentForm(payment.id)>
                            EDIT
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
}