.sharp-search-box {
    span {
        border-radius: 0px;

        button {
            border-radius: 0px;
        }
    }

    input {
        border-radius: 0px;
    }
}

i.anticon.icon-large svg {
    width: $l-size;
    height: $l-size;
}

.card-empty .ant-card-body {
    padding: 0;
}

.fixed-siders {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
}

.static-page-content {
    padding: 20px 20px;
    height: 95vh;
}
