@(categories: Seq[Category])(implicit request: MessagesRequestHeader, flash: Flash)


@adminView("Categories") {

    <div>
        @flash.get("success").getOrElse("")
        <a class="button" href=@controllers.shop.routes.CategoriesController.createCategoryForm()>Create Category</a>

        <table class="common-table">
            <caption>Categories</caption>
            <tr>
                <th  scope="col">ID</th>
                <th  scope="col">Name</th>
                <th  scope="col">Actions</th>
            </tr>
            @for(category <- categories) {
                <tr>
                    <td>
                    @category.id
                    </td>
                    <td>
                    @category.name
                    </td>
                    <td>
                        <a class="button" href=@controllers.shop.routes.CategoriesController.deleteCategory(category.id)>
                            DELETE
                        </a>
                        <a class="button" href=@controllers.shop.routes.CategoriesController.updateCategoryForm(category.id)>
                            EDIT
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
}
